@media(max-width: 768px) {
    
        

    .caixa {
        display: block;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .caixa-conteudo {
        display: flex;
        margin-top: 910px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .tutorial {
        display: none;
    }

    .caixa-animatronics {
        display: block;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header {
        width: 100%;

    }

    .video-fundo {
        min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    
        
        
    }

    .video-fundo video {
    height: 210vh;
    
        
    }

    .icone-switch {
        height: 50px;
    }

    .night {
        font-size: 15px;
    }

    .logo-header {
        height: 43px;
         }
        
        

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .caixa-william-maior {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 410px;
        height: 360px;
        
    }

    .william-maior {
        height: 340px;
    }



    .texto-william-maior {
        font-size: 12px;

    }

    .caixa-freddy-maior {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 410px;
        height: 360px;
    }

    .freddy-maior {
        height: 350px
    }



    .texto-freddy-maior {
        font-size: 14px;

         }



         .caixa-chica-maior {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 420px;
            height: 360px;
        }
    
        .chica-maior {
            height: 350px;
            width: 180px;
        }
    
        
    
        .texto-chica-maior {
            font-size: 14px;

        }


        .caixa-bonnie-maior {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 420px;
            height: 360px;
        }
    
        .bonnie-maior {
            height: 350px;
            width: 180px;
        }
    
    
    
        .texto-bonnie-maior {
            font-size: 14px;
        }


        .caixa-foxy-maior {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 420px;
            height: 360px;
        }
    
        .foxy-maior {
            height: 350px;
            width: 180px;
        }
    
    
    
        .texto-foxy-maior {
            font-size: 14px;
        }



        .caixa-golden {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 410px;
            height: 360px;
            
        }
    
        .golden {
            height: 150px;
        }
    
    
    
        .texto-golden {
            font-size: 13px;
        }
            
}