@media (max-width: 1100px) {
    .header {
        display: flex;
        justify-content: center;
        
    }

    .caixa-conteudo {
        margin-top: 1000px;
        display: flex;
        flex-direction: column;
    }

    .caixa-animatronics {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .tutorial {
        margin-right: 460px;
        width: 250px;
    }

    .tutorial p {

    }


}
