* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Poppins" sans-serif;
    color: white;
}


.jumpscare-warning {
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 2;
    gap: 15px;





}

.warning {
    font-size: 30px;
    margin-top: 258px;
    width: 1700px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.avançar {
    margin-top: 20px;
    cursor: pointer;
    background-color: #222121;
    float: right;
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    font-size: 25px;
    border: 1px white solid;

}







.header {
    background-color: black;
    padding: 10px;
    height: 75px;
    display: flex;
}

.tra {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;





}

.header video {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: black;
    transition: opacity 2s ease-out;
    overflow: hidden;
}




.icone-freddy {
    margin-left: 10px;
    height: 60px;
    cursor: pointer;
}

.icone-freddy:hover {
    transform: scale(1.1);
}

.logo-header {
    height: 63px;
    margin-left: 42.1%;
}


.logo {
    display: flex;
    flex-direction: column;
    top: 0;
    margin-top: 50px;
}

.mascara {
    position: fixed;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    top: 0;
    width: 100%;
    height: 100%;
}

.mascara-2 {
    position: fixed;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.logo-freddy {
    width: 200px;
    align-self: center;
}

.logo-fnaf {
    width: 300px;
    align-self: center;
}

.logo-fnaf:hover {
    transform: scale(1.02);
    cursor: pointer;
}




.caixa-conteudo {
    margin-top: 50px;
    height: 170vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
}


.tutorial {
    font-family: "fnaf";
    position: relative;
    right: -500px;
    top: 150px;
    height: 200px;
    color: red;
}

.seta {
    margin-top: 40px;
    margin-left: -60px;
    height: 100px;
    transform: scaleY(-1);
}

@font-face {
    font-family: "fnaf";
    src: url(./src/fonts/fnaf.ttf);
}

.video-nightmare-freddy {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: 2;
}

.fala-afton {
    display: none;
}

.caixa-nightmare-freddy {
    border: 3px solid red;
    border-radius: 17px;
    display: flex;
    width: 300px;
    height: 450px;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}


.caixa-nightmare-freddy h1 {
    font-size: 20px;
    position: absolute;
    font-family: Poppins;
    z-index: 1;
}


.nightmare-freddy {
    height: 400px;
    position: absolute;
    margin-bottom: 20px;
}

.nightmare-freddy:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}


.fundo-nightmare-freddy {
    height: 445px;
    width: 295px;
    border-radius: 15px;
    border: none;
}




#caixa-nightmare-freddy-maior-escondido {
    display: none;
}

.caixa-nightmare-freddy-maior {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #090808;
    border-radius: 15px;
    display: flex;
    width: 1400px;
    z-index: 1;
}








.nightmare-freddy-maior {
    height: 780px;
    cursor: pointer;
    background-color: rgb(86, 3, 9);
}


.texto-nightmare-freddy-maior {
    padding: 40px;
    font-size: 40px;
}

.texto-nightmare-freddy-maior p {
    margin-top: 30px;
}

.caixa-nightmare-freddy-maior button {
    cursor: pointer;
    background-color: #222121;
    float: right;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    font-size: 25px;
}


.caixa-animatronics {
    display: flex;
    margin-top: 200px;
    gap: 30px;
    justify-content: space-between;
    width: 1300px;
}

.caixa-nightmare-chica {
    display: flex;
    width: 270px;
    height: 440px;
    border: 3px solid red;
    border-radius: 15px;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}



.caixa-nightmare-chica h1 {
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
}

.video-nightmare-chica {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: 2;
}

.nightmare-chica {
    height: 400px;
    position: absolute;
    margin-bottom: 25px;
}

.nightmare-chica:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.fundo-nightmare-chica {
    height: 435px;
    width: 265px;
    border-radius: 13px;
    border: none;
}

#caixa-nightmare-chica-maior-escondido {
    display: none;
}


.caixa-nightmare-chica-maior {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #090808;
    display: flex;
    width: 1400px;
    border: 5px solid black;
    border-radius: 15px;
    z-index: 1;
}

.caixa-nightmare-chica-maior button {
    cursor: pointer;
    background-color: #222121;
    float: right;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    font-size: 25px;
}

.nightmare-chica-maior {
    height: 700px;
    cursor: pointer;
    background-color: rgb(86, 3, 9);
}

.texto-nightmare-chica-maior {
    font-size: 40px;
    padding: 30px;
}

.texto-nightmare-chica-maior p {
    margin-top: 30px;
}

.caixa-nightmare-bonnie {
    width: 228px;
    display: flex;
    border: 3px solid red;
    border-radius: 15px;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}


.caixa-nightmare-bonnie h1 {
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
}

.video-nightmare-bonnie {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: 2;
}

.nightmare-bonnie {
    height: 400px;
    position: absolute;
    margin-bottom: 25px;
}

.nightmare-bonnie:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.fundo-nightmare-bonnie {
    height: 435px;
    width: 223px;
    border-radius: 12px;
    border: none;
}

#caixa-nightmare-bonnie-maior-escondido {
    display: none;
}


.caixa-nightmare-bonnie-maior {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #090808;
    border: 5px solid black;
    border-radius: 15px;
    display: flex;
    width: 1400px;
    z-index: 1;
}

.nightmare-bonnie-maior {
    height: 780px;
    cursor: pointer;
    background-color: rgb(86, 3, 9);
}


.texto-nightmare-bonnie-maior {
    padding: 40px;
    font-size: 40px;
}

.texto-nightmare-bonnie-maior p {
    margin-top: 30px;
}

.caixa-nightmare-bonnie-maior button {
    cursor: pointer;
    background-color: #222121;
    float: right;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    font-size: 25px;
}

.caixa-nightmare-foxy {
    width: 240px;
    display: flex;
    border: 3px solid red;
    border-radius: 15px;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}



.caixa-nightmare-foxy h1 {
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
}


.video-nightmare-foxy {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: 2;
}

.nightmare-foxy {
    height: 440px;
    position: absolute;
    margin-bottom: 25px;
}

.nightmare-foxy:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.fundo-nightmare-foxy {
    height: 435px;
    width: 234px;
    border-radius: 12px;
    border: none;
}

#caixa-nightmare-foxy-maior-escondido {
    display: none;
}


.caixa-nightmare-foxy-maior {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #090808;
    border: 5px solid black;
    border-radius: 15px;
    display: flex;
    width: 1400px;
    z-index: 1;
}

.nightmare-foxy-maior {
    height: 780px;
    cursor: pointer;
    background-color: rgb(86, 3, 9);
}


.texto-nightmare-foxy-maior {
    padding: 40px;
    font-size: 40px;
}

.texto-nightmare-foxy-maior p {
    margin-top: 30px;
}

.caixa-nightmare-foxy-maior button {
    cursor: pointer;
    background-color: #222121;
    float: right;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    font-size: 25px;
}


.caixa-nightmarionne {
    width: 310px;
    display: flex;
    border: 3px solid red;
    border-radius: 15px;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}


.caixa-nightmarionne h1 {
    position: absolute;
    font-size: 20px;
    font-family: Poppins;
}

.video-nightmarionne {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: 2;
}

.nightmarionne {
    height: 400px;
    display: flex;
    align-items: center;
    position: absolute;
    margin-bottom: 25px;
}

.nightmarionne:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;


}

.fundo-nightmarionne {
    height: 435px;
    width: 305px;
    border-radius: 12px;
    border: none;
}

#caixa-nightmarionne-maior-escondido {
    display: none;
}

.caixa-nightmarionne-maior {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #090808;
    border: 5px solid black;
    border-radius: 15px;
    display: flex;
    width: 1400px;
    z-index: 1;
}

.nightmarionne-maior {
    height: 780px;
    background-color: rgb(86, 3, 9);
    cursor: pointer;
}



.texto-nightmarionne-maior {
    padding: 40px;
    font-size: 40px;
}

.texto-nightmarionne-maior p {
    margin-top: 30px;
}

.caixa-nightmarionne-maior button {
    cursor: pointer;
    background-color: #222121;
    float: right;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    font-size: 25px;
}

#caixa-fredbear-maior-escondido {
    display: none;

}

.caixa-fredbear {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #090808;
    border: 5px solid black;
    border-radius: 15px;
    display: flex;
    width: 1400px;
    z-index: 1;
}

.fredbear {
    background-color: rgb(86, 3, 9);
    height: 700px;
    cursor: pointer;
}


.texto-fredbear {
    padding: 40px;
    font-size: 40px;
}

.texto-fredbear p {
    margin-top: 30px;
}

.caixa-fredbear button {
    cursor: pointer;
    background-color: #222121;
    float: right;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    font-size: 25px;
}

.video-fredbear {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: 2;
}

.video-fundo-fnaf-4 {
    position: fixed;
    z-index: -1;
    top: 0;
}

.video-fundo-fnaf-4 video {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
}



.video-intro video {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: black;
    transition: opacity 2s ease-out;
    overflow: hidden;
}